.App {
  text-align: center;
}

.navlink {
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
  padding: 1em 0.5em;
}

.cards {
  justify-content: center;
}

.title-method {
  text-decoration: underline;
}

.card-design {
  margin: auto;
  width: 18rem;
  padding: 2em;
}